<h1>Login</h1>

<form action="/sessions" method="post">
  <p>
    <label for="email_input">Email</label>
    <input type="text" name="email" id="email_input">

    <label for="password_input">Password</label>
    <input type="password" name="password" id="password_input"> 
    <!-- type password hides it when your typing in sensitive info -->
  </p>

  <button>Login</button>
</form>
